<template>
	<div>
		<h2>Welcome home</h2>
		<button @click="counter++">
			Clicked me {{ counter }} times
		</button>
	</div>
</template>

<script>
export default {
	name: 'Test',
	data: () => ({
		counter: 0
	})
}
</script>

<style scoped>

</style>