<template>
	<div class="tile is-ancestor">
		<div class="tile is-parent is-vertical">
			<div
				v-if="projectName !== ''"
				class="tile is-vertical is-child"
			>
				<div class="tile is-parent is-block-tablet is-flex-desktop">
					<div v-if="displayImage" class="tile is-child is-one-fifth box">

					</div>
					<div class="tile is-child is-four-fifths box">
						<div class="tile">
							<stoplight :project-name="projectName" :rows_count="rowsCount"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>

import Stoplight from '../components/qualitydisplay/stoplights/_qualitydisplay_stoplights_base';
import {computed, onMounted, ref} from 'vue';

const projectName = computed(() => window.project)
const customview = computed(() => window.customview)
const hideMenu = computed(() => window.hideMenu)
const rowsCount = ref(1);
const displayImage = ref(true);


onMounted(() => {
	if(customview.value === 'f026883_01') {
		adjustFontSize("32px");
		rowsCount.value = 2;
		displayImage.value = false;
		window.project = 'f026883';
	}
})

const adjustFontSize = (size) => {
	document.querySelector(":root").style.fontSize = size;
}


</script>

<style scoped>

</style>