<template>
	<div class="container is-fullhd">
		<div class="tile is-ancestor">
			<div class="tile is-4">
				<downloads-history :key="historyComponentKey" :available-projects="projects" />
			</div>
			<div class="tile is-8">
				<downloads-download :available-projects="projects" @update-history="historyComponentKey++" />
			</div>
		</div>
	</div>
</template>

<script setup>

import DownloadsHistory from '../components/download/_downloads_history';
import DownloadsDownload from '../components/download/_downloads_download';

import {computed, ref} from 'vue';

const projects = computed(() => window.projects);
const historyComponentKey = ref(0);

</script>

<style scoped>

</style>