<template>
	<div class="tile is-ancestor">
		<div class="tile is-2" />
		<div class="tile is-10 is-parent is-vertical">
			<div
				v-if="projectName !== ''"
				class="tile is-vertical is-child"
			>
				<div class="tile is-parent is-block-tablet is-flex-desktop">
					<div class="tile is-child is-two-thirds box">
						<p>
							Bereich für Bild
							{{ projectName }}
						</p>
					</div>
					<div class="tile is-child is-one-third box">
						<div class="tile">
							<stoplight :project-name="projectName" :rows_count="1"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>

import Stoplight from '../components/qualitydisplay/stoplights/_qualitydisplay_stoplights_base';
import {computed} from 'vue';

const projectName = computed(() => window.project)


</script>

<style scoped>

</style>