<template>
	<div class="container">
		<div class="tile is-ancestor">
			<div class="tile is-flex is-block-mobile is-flex-wrap-wrap">
				<div class="tile is-parent is-3">
					<div class="tile box is-child">
						<aside class="menu">
							<p class="menu-label">
								settings.user
							</p>
							<ul class="menu-list">
								<li><a @click="selectedMenuPoint='1.0'">settings.user.data</a></li>
								<li><a @click="selectedMenuPoint='1.1'">settings.user.manage_users</a></li>
							</ul>
							<p class="menu-label">
								settings.projects
							</p>
							<ul class="menu-list">
								<li
									v-for="(project, index) in projects"
									:key="project"
								>
									<a @click="selectedMenuPoint='2.'+index; current_project=project">{{ project }}</a>
								</li>
							</ul>
						</aside>
					</div>
				</div>
				<div class="tile is-parent is-9">
					<SettingsUserData
						v-if="selectedMenuPoint==='1.0' || selectedMenuPoint===''"
						@show-tfa-qrode="(s) => showTFAQRCode(s)"
						@update:tfa-uri="(s) => showTFAQRCode(s)"
					/>
					<SettingsUserManageSubs
						v-if="selectedMenuPoint==='1.1'"
						:qr-code-value="modalBody"
						@update:tfa-uri="(s) => showTFAQRCode(s)"
					/>
					<SettingsProject v-if="selectedMenuPoint.substring(0,1)==='2'" :project-name="current_project" />
				</div>
			</div>
		</div>
	</div>
	<div :class="['modal',showModal ? 'is-active':'']">
		<div class="modal-background" @click="closeModal" />
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">
					settings.modal.header
				</p>
			</header>
			<section class="modal-card-body">
				<div class="columns">
					<div class="column" />
					<div class="column">
						<div>settings.modal.text</div>
						<div class="container">
							<qrcode-vue :value="modalBody" :size="300" level="H" />
						</div>
					</div>
					<div class="column" />
				</div>
			</section>
			<footer class="modal-card-foot">
				<button class="button is-success" @click="closeModal">
					settings.modal.button
				</button>
			</footer>
		</div>
	</div>
</template>

<script setup>
import { useCookies } from '@vueuse/integrations/useCookies';
import SettingsUserData from "../components/settings/_settings_user_data";
import SettingsUserManageSubs from "../components/settings/_settings_user_manage_subs";
import SettingsProject from "../components/settings/project/_settings_project";
import {ref} from "vue";
import QrcodeVue from 'qrcode.vue'


const	name = "AppSettings";
const selectedMenuPoint = ref('');

const showModal = ref(false)
const modalBody = ref('')
const projects = window.projects;
const current_project = ref('')

const showTFAQRCode = (s) => {
	console.log(s)
	if(s === '') {
		showModal.value = false;
	} else {
		showModal.value = true;
		modalBody.value = s;
	}
}
const closeModal = () => {
	showModal.value=false;
	modalBody.value=''
}

</script>

<style scoped>

</style>