<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="/">
			<img src="https://nerling.de/bilder/homepage/nerling_logo.png" alt="Nerling-Cloud" width="150" height="48">
		</a>

		<a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div class="navbar-menu" id="navMenu">
		<div class="navbar-start">
			{% for item in menu.left %}
				{% if item.children|length > 0 %}
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="{{ item.link }}">
							{{ item.name }}
						</a>
						<div class="navbar-dropdown">
							{% for child in item.children %}
								<a class="navbar-item" href="{{ child.link }}">
									{{ child.name }}
								</a>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<a class="navbar-item" href="{{ item.link }}">
						{{ item.name }}
					</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="navbar-end">
			{% for item in menu.right %}
				{% if item.children|length > 0 %}
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="{{ item.link }}">
							{{ item.name }}
						</a>
						<div class="navbar-dropdown">
							{% for child in item.children %}
								<a class="navbar-item" href="{{ child.link }}">
									{{ child.name }}
								</a>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<a class="navbar-item" href="/">
						{{ item.name }}
					</a>
				{% endif %}
			{% endfor %}
			<div class="navbar-item">
				{% if menu.login.loggedIn %}
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link is-arrowless" href="{{ path('app_settings_account') }}">
							<span class="icon is-large"><i class="fas fa-2x fa-user-pen"></i></span>
						</a>
						<div class="navbar-dropdown is-right">
							{% for child in menu.login.children %}
								<a class="navbar-item" href="{{ child.link }}">
									{{ child.name }}
								</a>
							{% endfor %}
						</div>
					</div>
				{% else %}
					<a class="button is-nsr" href="{{ path('login') }}">
						{% trans %}login.login{% endtrans %}
					</a>
				{% endif %}

			</div>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					<img src="{{ asset('build/images/language_switcher.png') }}">
				</a>
				<div class="navbar-dropdown is-right">
					{% include 'parts/_locale_switcher.html.twig' %}
				</div>
			</div>
		</div>
	</div>
</nav>