{% extends 'base.html.twig' %}

{% block menu %} {% if hideMenu is not defined or hideMenu is same as(false) %} {{ include('main/_menu.html.twig') }} {% endif %} {% endblock %}

{% block body %}
    <div id="customview"></div>
    <!--
	<div class="tile is-ancestor">
		<div class="tile is-2-tablet">

		</div>
		<div class="tile is12-mobile is-8-tablet">

		</div>
	</div>
	-->
{% endblock %}

{% block javascripts %}
    {{  parent() }}

    <script>
        {% if project is defined %}
        window.project = '{{ project|e('js') }}';
        {% else %}
        {% endif %}
        {% if customview is defined %} window.customview = '{{ customview|e('js') }}'; {% endif %}
        {% if hideMenu is defined %} window.hideMenu = '{{ hideMenu|e('js') }}'; {% endif %}
    </script>
    {{ encore_entry_script_tags('customview') }}
{%  endblock %}