<template>
	<div class="tile is-parent">
		<div class="tile is-child box is-block-tablet is-flex-desktop">
			<div class="tile is-vertical">
				<div class="tile">
					<div class="tile is-block box">
						<o-field label="download.project">
							<o-select v-model="download.project" :placeholder="download.project" expanded :disabled="availableProjects.length < 2">
								<option
									v-for="(io, index) in availableProjects"
									:key="index"
									:value="io"
								>
									{{ io }}
								</option>
							</o-select>
						</o-field>
					</div>
					<div class="tile is-block box with-margin-bottom">
						<o-field label="download.select-date">
							<o-datepicker
								v-model="date"
								placeholder="Click to select..."
								icon="calendar"
								range
								:min-date="minMaxDate[0]"
								:max-date="minMaxDate[1]"
								:disabled="minMaxDate.length===0"
								show-week-number
								:focused-date="focusedDate"
							/>
						</o-field>
					</div>
				</div>
				<div class="tile is-block box no-margin-right">
					<o-field label="download.add-datapoints">
						<o-inputitems
							v-model="download.selectedValues"
							:data="filteredTags"
							autocomplete
							:allow-new="false"
							:open-on-focus="true"
							icon="tag"
							placeholder="keine Auswahl = alle Datenpunkte"
							:keep-first="true"
							@typing="getFilteredTags"
						/>
					</o-field>
				</div>
				<div class="tile">
					<div class="tile box">
						<o-button :disabled="download.selectedTimeframe.length !== 2 || download.project.length===0" expanded variant="success" @click="downloadClicked">
							download.download
						</o-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
import {DownloadBuilder} from '../../PropTypes/CustomTypes';
import {computed, inject, onMounted, reactive, ref, watch} from "vue";
import moment from "moment";



const props = defineProps({
	availableProjects: { type: Array, required: true},
	historyKey: {type: Number, required: true}
});
const emit = defineEmits(['updateHistory']);

const api = inject('$api');
const download = reactive(new DownloadBuilder('',[],{},false));
const possibleDatapoints = ref([]);
const datapointToAdd = ref('');
const date = ref();
const minMaxDate = ref([]);
const focusedDate = ref();

onMounted(() => {
	if(props.availableProjects.length > 0) {
		download.project = props.availableProjects[0];
	}
});
watch( () => download.project, (now,) => { loadPossibleTypes(now); loadPossibleDates(now) });
watch( date,(now,prev) => {
		download.selectedTimeframe = [...date.value]
});

const loadPossibleTypes = (project) => {
	api.fetch(api.endpoint+'/projects/'+project+'/possibleHeaders')
			.then(data => {
				let tmp = [];
				data.forEach(element => {
					tmp.push(element);
				});
				tmp.sort();
				possibleDatapoints.value = [...tmp];
				filteredTags.value = [...tmp];

				if(tmp.length > 0)
					datapointToAdd.value = possibleDatapoints.value[0];
			});
};
const loadPossibleDates = (project) => {
	api.fetch(api.endpoint+'/data/export/'+project+'/min-max-date')
			.then(data => {
				if(Object.keys(data).length===2) {
					let tmp = [];
					tmp[0] = moment(data.min).startOf("day").toDate();
					tmp[1] = moment(data.max).endOf("day").toDate();
					minMaxDate.value = tmp;
					focusedDate.value = moment(data.max).endOf("day").toDate();
				} else {
					minMaxDate.value = [];
				}
})};

const filteredTags = ref([]);

const getFilteredTags = (text) => {
	filteredTags.value = possibleDatapoints.value.filter(option => {
		return (
				option
						.toString()
						.toLowerCase()
						.indexOf(text.toLowerCase()) >= 0 &&
						!download.selectedValues.includes(option)
		)
	})
};

const downloadClicked = () => {
	let start = moment(download.selectedTimeframe[0]);
	let end = moment(download.selectedTimeframe[1]).endOf('day');
	let values = download.selectedValues.length === 0 ? "[]" : '["'+download.selectedValues.join('", "')+'"]';

	api.call(api.endpoint+'/data/export/'+download.project+'/csv'+"?project="+download.project+"&days="+(end.diff(start, 'days')+1)+"&endtime="+end.format("YYYY-MM-DD HH:mm:ss")+"&subset="+values)
			.then(response => {
				emit('updateHistory');
			});

};

</script>

<style lang="scss" scoped>


</style>