<template>
	<div class="tile is-parent is-block-tablet is-flex-desktop">
		<div class="tile is-child box is-vertical">
			<div>
				<h2 class="heading">
					download.history
				</h2>
			</div>
			<o-collapse
				v-for="(collapse, index) of files" :key="index" class="message" animation="slide"
				:open="isOpen === index" @open="isOpen = index"
			>
				<template #trigger="trigger">
					<div class="message-header" role="button">
						<p>
							{{ index }} - { {{ files[index].length }} }
						</p>
						<a class="icon">
							<font-awesome-icon :icon="['fas',trigger.open ? 'caret-up' : 'caret-down']" />
						</a>
					</div>
				</template>
				<div class="message-body">
					<div class="tile is-vertical">
						<div v-for="(file,fileIndex) of files[index]" :key="fileIndex" class="pb-3 tile">
							<div class="tile is-2 is-flex is-align-items-center">
								<a :href="api.endpoint+'/data/export/'+index+'/download?file='+file['filename']" class="button is-nsr icon is-medium"><font-awesome-icon :icon="['far','floppy-disk']" size="sm" /></a>
							</div><div class="tile is-vertical">
								<div class="tile">
									download.history.created: {{ file['date'] }}
								</div>
								<div class="tile">
									download.history.filename: {{ file['filename'] }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</o-collapse>
		</div>
	</div>
</template>

<script setup>


import moment from "moment";
import {inject, onMounted, reactive, ref} from "vue";

const props = defineProps({
	availableProjects: { type: Array, required: true}
});
const api = inject('$api');

const files = reactive({});
const isOpen = ref("")

onMounted(() => {
	props.availableProjects.forEach(p => {
		loadProjectFiles(p);
	});
	isOpen.value = props.availableProjects[0];
});

const loadProjectFiles = (project) => {
	api.fetch(api.endpoint+'/data/export/'+project+'/history')
			.then(data => {
				data.sort((a, b) => new Date(b['date']) - new Date(a['date']));
				files[project] = data;
			})
};


</script>

<style scoped>

</style>