<template>
	<qrcode-vue :value="value" :size="size" level="H" />
</template>
<script>
import QrcodeVue from 'qrcode.vue'
import {useCookies} from "@vueuse/integrations/useCookies";
import {ref} from "vue";

export default {
	name: "Login2faQrcode",
	components: {
		QrcodeVue,
	},
	setup(props,context) {
		const value = ref("");
		const size = 300;
		const apiOptions = {
			method: 'GET',
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json',
				'user-session': useCookies().get('user-session')
			}
		}

		fetch('https://dev01.nerling.cloud:8000/customers/customer/with_totpsecret', apiOptions)
				.then(response => response.json()/*{
						if(!response.ok) {
							const error = (response && response.message) || response.status;
							return Promise.reject(error)
						} else {
							response.json()
						}
					}*/)
				.then(data => {
					value.value = data["extras"]["totpURI"]
				})
				.catch(error => {
					console.error('Getting 2FA-Secret unsuccessfull', error);
				});
		return {
			value,
			size
		}
	},
}
</script>

<style scoped>

</style>