<template>
	<div class="tile is-child box table-container">
		<table class="table is-fullwidth">
			<thead>
				<th>NAME</th>
				<th>EMAIL</th>
				<th>PASSWD</th>
				<th>TFA</th>
				<th></th>
			</thead>
			<tbody>
				<template
					v-for="(user, index) in userList"
					:key="index">
					<SettingsUserManageSubsComponent
						:user="user"
						:possible-tfas="possibleTFAs"
						:qr-code-value="qrCodeValue"
						@update:tfa-uri="(s) => emit('update:tfa-uri',s)"
					/>
				</template>
			</tbody>
		</table>
	</div>
</template>

<script setup>
import { useCookies } from '@vueuse/integrations/useCookies';
import SettingsUserManageSubsComponent from './_settings_user_manage_subs_component';
import {inject, onMounted, ref} from "vue";
import {UserDataObject} from "../../PropTypes/CustomTypes";

const props = defineProps({qrCodeValue:String})

const possibleTFAs = ref({})

const userList = ref([])//[{id: 11, name: 'PLACEHOLDER1', email: 'EMAIL1'},{id: 12, name: 'PLACEHOLDER2', email: 'EMAIL2'},{id: 13, name: 'PLACEHOLDER3', email: 'EMAIL3'}]

const api = inject('$api')
const emit = defineEmits(['update:tfa-uri'])

onMounted(() => {
	getPossibleTFA();
	getSubordinates();
})

const getPossibleTFA = () => {
	fetch(api.endpoint+'/customers/possible_tfa', {
		method: 'GET',
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json;charset=UTF-8'
		}
	}).then(response => response.json())
	.then(responseJson => possibleTFAs.value = responseJson)
}
const getSubordinates = () => {
	fetch(api.endpoint+'/customers/customer/subordinates', {
		method: 'GET',
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json;charset=UTF-8',
			'user-session': useCookies().get('user-session')
		}
	}).then(response => response.json())
			.then(responseJson => {
				Object.values(responseJson).forEach(item => {
					userList.value.push(UserDataObject.get(item))
				})
				userList.value.sort((a,b) => {return (a.name.localeCompare(b.name))})
			});
}

</script>

<style scoped>

</style>