<template>
	<tr>
		<td>
			<div class="control">
				<button class="button" :disabled="!showEditName"><span class="icon" @click="showEditName=!showEditName"><font-awesome-icon :icon="['fas','ban']" /></span></button>
				<input class="input icon-beside2 input-as-text" type="text" v-model="_name" :disabled="!showEditName" :placeholder="user.name"><button class="button"><span class="icon" @click="clickEditButton(0)"><font-awesome-icon v-if="showEditName" :icon="['fas','floppy-disk']"/><font-awesome-icon v-if="!showEditName" :icon="['fas','pen']"/></span></button>
			</div>
		</td>
		<td>
			<div class="control input-as-text">
				<button class="button" :disabled="!showEditEmail"><span class="icon" @click="showEditEmail=!showEditEmail"><font-awesome-icon :icon="['fas','ban']" /></span></button>
				<input class="input icon-beside2" type="text" v-model="_email" :disabled="!showEditEmail" :placeholder="user.email"><button class="button"><span class="icon" @click="clickEditButton(1)"><font-awesome-icon v-if="showEditEmail" :icon="['fas','floppy-disk']"/><font-awesome-icon v-if="!showEditEmail" :icon="['fas','pen']"/></span></button>
			</div>
		</td>
		<td>
			<div class="control">
				<button class="button" :disabled="!showEditPasswd"><span class="icon" @click="showEditPasswd=!showEditPasswd"><font-awesome-icon :icon="['fas','ban']" /></span></button>
				<input class="input icon-beside2" type="text" v-model="_pw" :disabled="!showEditPasswd" placeholder="********"><button class="button"><span class="icon" @click="clickEditButton(2)"><font-awesome-icon v-if="showEditPasswd" :icon="['fas','floppy-disk']"/><font-awesome-icon v-if="!showEditPasswd" :icon="['fas','pen']"/></span></button>
			</div>
		</td>
		<td>
			<div class="control">
				<button class="button" :disabled="!showEditTfa">
					<span
						class="icon"
						@click="showEditTfa=!showEditTfa"
					>
						<font-awesome-icon
							:icon="['fas','ban']"
						/>
					</span>
				</button>
				<div class="select icon-beside2">
					<select
						v-model="_tfa"
						:disabled="!showEditTfa"
					>
						<option
							v-for="(io, index) in possibleTfas"
							:key="index"
							:selected="io === _tfa.value"
						>
							{{ io }}
						</option>
					</select>
				</div>
				<button class="button">
					<span
						class="icon"
						@click="clickEditButton(3)"
					>
						<font-awesome-icon
							v-if="showEditTfa"
							:icon="['fas','floppy-disk']"
						/>
						<font-awesome-icon
							v-if="!showEditTfa"
							:icon="['fas','pen']"
						/>
					</span>
				</button>

			</div>
		</td>
	</tr>
</template>

<script setup>
import {inject, onMounted, onUpdated, ref} from "vue";
import {useCookies} from "@vueuse/integrations/useCookies";
import {computed} from "vue";
import {UserDataObject} from "../../PropTypes/CustomTypes";

const name="SettingsUserManageSubsComponent";

const props = defineProps({
	user: {
		type: UserDataObject,
		required: true
	},
	possibleTfas: {
		type: Object,
		required: true
	},
	qrCodeValue : {
		type: String
	}
});
const api = inject('$api')
const emit = defineEmits(['update:tfa-uri'])
const showEditName = ref(false)
const _name = ref("")
const showEditEmail = ref(false)
const _email = ref("")
const showEditPasswd = ref(false)
const _pw = ref("")
const showEditTfa = ref(false)
const _tfa = ref("")

const clickEditButton = (pos) => {
	if(pos === 0) {
		if(showEditName.value)
			savePartial('name',_name.value);
		else
			_name.value = props.user.name;
		showEditName.value = !showEditName.value;
	}
	if(pos === 1) {
		if(showEditEmail.value)
			savePartial('email',_email.value);
		else
			_email.value = props.user.email;
		showEditEmail.value = !showEditEmail.value;
	}
	if(pos === 2) {
		if(showEditPasswd.value) {
			savePartial('passwd', _pw.value);
			_pw.value = '';
		}
		else
			_pw.value = '';
		showEditPasswd.value = !showEditPasswd.value;
	}
	if(pos === 3) {
		if(showEditTfa.value)
			savePartial('used2fa',_tfa.value);
		else
			_tfa.value = props.user.used2fa;
		showEditTfa.value = !showEditTfa.value;
	}
}
onMounted(() => {
	_name.value = props.user.name;
	_email.value = props.user.email;
	_tfa.value = props.user.used2fa;
})

const savePartial = (field,value) => {
	const apiOptions = {
		method: 'PUT',
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json',
			'user-session': useCookies().get('user-session')
		},
		body: JSON.stringify({'id': props.user.id, 'field': field, 'value': value})
	}

	fetch(api.endpoint+'/customers/customer/partial', apiOptions)
			.then(response => {
				if(!response.ok) {
					const error = (response && response.message) || response.status;
					return Promise.reject(error)
				} else
					return response.json()
			})
			.catch(error => {
				console.error('There was an error!', error);
			})
			.then(responseJSON => {
				if (field === 'used2fa')
					emit('update:tfa-uri', responseJSON['returnValue']['secretURI'])
			})



//	context.emit("updateQcRule", localCopy.value);
}
</script>

<style scoped>

</style>