<template>
	<div class="tile is-child box">
		<div class="field">
			<label class="label">settings.user.data.name</label>
			<div class="control has-icons-left">
				<input v-model="user.name" class="input" type="text" placeholder="NAME"><span class="icon is-small is-left"><font-awesome-icon :icon="['fas','user']" /></span>
			</div>
		</div>
		<div class="field">
			<label class="label">settings.user.data.email</label>
			<div class="control has-icons-left">
				<input v-model="user.email" class="input" type="email" placeholder="EMAIL"><span class="icon is-small is-left"><font-awesome-icon :icon="['fas','envelope']" /></span>
			</div>
		</div>
		<div class="field">
			<label class="label">settings.user.data.passwd1</label>
			<div class="control has-icons-left">
				<input v-model="passwd1" class="input" type="password" placeholder="**********"><span class="icon is-small is-left"><font-awesome-icon :icon="['fas','key']" /></span>
			</div>
		</div>
		<div class="field">
			<label class="label">settings.user.data.passwd2</label>
			<div class="control has-icons-left">
				<input v-model="passwd2" class="input" type="password" placeholder="**********"><span class="icon is-small is-left"><font-awesome-icon :icon="['fas','key']" /></span>
			</div>
		</div>
		<div class="field">
			<label class="label">settings.user.data.tfa</label>
			<div class="control has-icons-left">
				<div class="select">
					<select v-model="user.used2fa">
						<option
							v-for="(io, index) in possibleTFA"
							:key="index"
							:selected="io === user.used2fa"
						>
							{{ io }}
						</option>
					</select><span class="icon is-small is-left"><font-awesome-icon :icon="['fas','key']" /></span>
				</div>
			</div>
		</div>
		<div class="field is-grouped">
			<div class="control">
				<button class="button is-nsr" @click="submit">
					settings.user.data.submit
				</button>
			</div>
			<div class="control">
				<button class="button is-link is-light" @click="cancel">
					settings.user.data.cancel
				</button>
			</div>
		</div>
	</div>
</template>

<script setup>
import {ref, inject, computed, onMounted} from "vue";

defineEmits(['showTfaQrcode'])

const user = ref({});
const user_backup = ref({});
const possibleTFA = ref([]);
const passwd1 = ref('');
const passwd2 = ref('');


const api = inject('$api')
const api_user = computed(() => api.endpoint+'/customers/customer')
const api_possibleTFA = computed(() => api.endpoint+'/customers/possible_tfa')
const api_updatePartial = computed(() => api.endpoint+'/customers/customer/partial')



//const	name = "SettingsUserData";
onMounted(() => {
	loadUser();
	loadPossibleTFA();
});

const loadUser = () => {
	fetch(api_user.value, api.get)
			.then(response => api.promisedResponse(response,() => {}))
			.then(data => {
				user.value = data;
				user_backup.value = {...data}
			});
}
const loadPossibleTFA = () => {
	fetch(api_possibleTFA.value, api.headers_loggedIn)
			.then(response => api.promisedResponse(response,() => {}))
			.then(data => {
				let newData = [];
				for (let d in data)
					newData.push(data[d])
				possibleTFA.value = newData;
			});
}

const submit = () => {
	let changedValues = {}
	if(passwd1.value === passwd2.value && passwd1.value.length>0) {
		changedValues['passwd'] = passwd1.value;
		passwd1.value = '';
		passwd2.value = '';
	}
	if(user.value.name !== user_backup.value.name) {
		changedValues['name'] = user.value.name;
	}
	if(user.value.name !== user_backup.value.name) {
		changedValues['email'] = user.value.email;
	}
	if(user.value.used2fa !== user_backup.value.used2fa) {
		changedValues['used2fa'] = user.value.used2fa;
	}



	for(let v in changedValues) {
		api.put_post(api_updatePartial,{id: user.value.id, field: v, value: changedValues[v]},'PUT',loadUser)
	}
}
</script>

<style scoped>

</style>