<template>
	<div class="tile is-child is-12-tablet box has-child-message stop-light">
		<div class="message">
			<div class="message-header">
				<p>{{ title }} -  {{ newestTime }}</p>
				<!--<button class="delete" aria-label="delete"></button>-->
			</div>
			<div class="message-body">
				<div class="columns">
					<div v-for="n in rows_count" :key="n" class="column">
						<div
							v-for="v in sliceSource.slice((sliceSource.length / rows_count) * (n-1),(sliceSource.length / rows_count) * n)"
							:key="v.name"
							:class="['message',(v.isInSpecification() ? 'has-background-success' : 'has-background-danger')]"
						>
							<div class="message-header">
								{{ v.name }} - {{ v.rule.getTypeUndetailed() }} - {{ moment(v.rule.current.time).format('DD.MM.YYYY HH:mm') }}
							</div>
							<div class="message-body">
								<p>IST: {{ v.roundToPrecission() }} {{ v.unit }} <span v-if="v.rule.gK_Current() > 0">(GK{{ v.rule.gK_Current() }})</span></p>
								<p>SOLL: {{ v.target }} {{ v.unit }} <span v-if="v.rule.gK_Current() > 0">(GK{{ v.rule.gK_Target() }})</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
import moment from "moment";
import {computed} from "vue";

const props = defineProps({
	title: {
		type: String,
		required: true,
	},
	specificationValues: {
		type: Object,
		required: true
	},
	rows_count: {
		type: Number,
		required: true
	}
});
const sliceSource = computed(() => {
	let tmp = [];
	Object.values(props.specificationValues).forEach(v => {
		tmp.push(v);
	})
	return tmp;
})

const newestTime = computed(() => {
	let returnValue = new Date("2000-01-01");
	Object.values(props.specificationValues).forEach(v => {
		returnValue = Math.max(returnValue,v.rule.current.time);
	})
	return moment.utc(new Date(returnValue)).local().format('DD.MM.YYYY HH:mm');
});

</script>

<style lang="scss" module>

</style>