<template>
	<div class="tile is-parent is-block-desktop is-block-tablet is-flex-fullhd is-flex-wrap-wrap">
		<template
			v-for="(v, index) in dataStore"
			:key="index"
		>
			<stop-light-component
				v-if="!(index === 'ids')"
				:title="index"
				:specification-values="v"
				:rows_count="rows_count"
			/>
		</template>
	</div>
</template>

<script setup>
import {computed, inject, onMounted, onUnmounted, reactive, ref} from "vue";
import {QualityControlRule, StopLightRuleObject} from "../../../PropTypes/QualityControlTypes";
import StopLightComponent from './_qualitydisplay_stoplights_component'

const props = defineProps({
	projectName: {
		type: String,
		required: true
	},
	rows_count: {
		type: Number,
		required: true
	}
})
const dataStore = reactive({
	ids: []
});
const interval = ref({})

const api = inject('$api')
const api_project = computed(() => api.endpoint+'/qc/project/'+props.projectName)


onMounted(() => {
	loadRules();

	interval.value = setInterval(function () {
		updateRuleData();
	}.bind(this), 30000);
});
onUnmounted(() => {
	clearInterval(interval.value)
})

const loadRules = () => {
	fetch(api_project.value, api.get)
			.then(response => api.promisedResponse(response,() => {}))
			.then(data => {
				data.forEach(element => {
					let rule = QualityControlRule.getFromElement(element);
					let room = rule.sensor1.split('.')[0];
					if(dataStore[room] == undefined)
						dataStore[room] = {}
					dataStore[room][rule.id] = rule.getStopLightRuleObject();
					dataStore.ids[element.rule.id] = dataStore[room][rule.id];
				});
			});
};

const updateRuleData = () => {
	fetch(api_project.value, api.get)
			.then(response => api.promisedResponse(response,() => {}))
			.then(data => {
				data.forEach((e => {
					StopLightRuleObject.updateData(dataStore.ids[e.data.qcrId],e.data);
				}));
			});
};

</script>

<style scoped>

</style>