{% extends 'content_base.html.twig' %}

{% form_theme form 'form_theme/bulma_form_div_layout.html.twig' %}

{% block content_title %}Login{% endblock %}

{% block content_hero_class %}is-nsr{% endblock %}


{% block content_body %}

	{{ form_start(form, {
		'attr': {
			'class': 'container is-fullhd'
		}
	}) }}
	<div class="tile is-ancestor">
		<div class="tile"></div>

		{{ form_widget(form) }}

		<div class="tile"></div>
	</div>
	{{ form_end(form) }}
{% endblock %}