{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block menu %} {{ include('main/_menu.html.twig') }} {% endblock %}

{% block body %}
    <div  id="settings"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% if projects is defined %}
        window.projects = JSON.parse('{{ projects | json_encode | raw }}');
        {% else %}
        {% endif %}
    </script>

    {{ encore_entry_script_tags('settings') }}
{% endblock %}