<template>
	<div class="tile is-parent is-block-desktop is-block-tablet is-flex-fullhd is-flex-wrap-wrap">
		<template
			v-for="(v, index) in data"
			:key="index">
			<stop-light-component
				v-if="!(index === 'ids')"
				:title="index"
				:specification-values="v"
			/>
		</template>

	</div>
</template>
<script>
import StopLightComponent from './_stoplight_component';
import {QualityControlRule} from "../PropTypes/QualityControlTypes";
import {useCookies} from '@vueuse/integrations/useCookies'

export default {
	components: {
		StopLightComponent,
	},
	props: {
		title: {
			type: String,
			default: ''
		},
		projectName: {
			type: String,
			required: true
		}
	},
	data: () => (
			{
				data: {},
				api_endpoint: 'https://dev01.nerling.cloud:8000/qc/project/',
				api_options: {
					method: 'GET',
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json;charset=UTF-8',
						'user-session': useCookies().get('user-session')
					}
				}
			}
	),

	mounted: function () {
		this.loadRules();

		this.interval = setInterval(function () {
			this.updateRuleData();
		}.bind(this), 60000);
	},

	beforeUnmount: function () {
		clearInterval(this.interval);
	},
	methods: {
		loadRules: function () {
			fetch(this.api_endpoint+this.projectName, this.api_options)
					.then(response => {
						if(response.status === 200)
							return response.json()
						else
							return []
					})
					.then(data => {
						data.forEach(element => {
							let rule = QualityControlRule.getFromElement(element);
							let room = rule.sensor1.split('.')[0];
							if(this.data.ids == undefined)
								this.data.ids = {}
							if(this.data[room] == undefined)
								this.data[room] = {}
							this.data[room][rule.id] = rule.getStopLightRuleObject();
							this.data.ids[element.rule.id] = this.data[room][rule.id];
						});
					});
		},
		updateRuleData: function () {
			fetch(this.api_endpoint+this.projectName, this.api_options)
					.then(response => {
						if(response.status === 200)
							return response.json()
						else
							return []
					})
					.then(data => {
						data.forEach(element => {
							this.data.ids[element.data.qcrId].updateData(element.data);
						});
					});
		}
	}
}
/*
const url = BACKEND_URL.'/qc/rules/project/f026291';
const options = {
	method: 'POST',
	headers: {
		'Accept': 'application/json',
		'Content-Type': 'application/json;charset=UTF-8'
	},
	body: JSON.stringify({
		a: 10,
		b: 20
	})
};

fetch(url, options)
		.then(response => {
			console.log(response.status);
		});
 */
</script>