<template>
	<div class="tile is-child is-12-tablet box has-child-message stop-light">
		<div class="message">
			<div class="message-header">
				<p>{{ title }} - {{ newestTime }}</p>
				<!--<button class="delete" aria-label="delete"></button>-->
			</div>
			<div class="message-body">
				<div :class="[$style.testClass]">
					<div
						v-for="v in specificationValues"
						:key="v.name"
						:class="['message',(v.isInSpecification() ? 'has-background-success' : 'has-background-danger')]"
					>
						<div class="message-header">
							{{ v.name }} - {{ v.rule.getTypeUndetailed() }} -
							{{ moment(v.rule.current.time).format('DD.MM.YYYY HH:mm') }}
						</div>
						<div class="message-body">
							<p>
								IST: {{ v.roundToPrecission() }} {{ v.unit }} <span v-if="v.rule.gK_Current() > 0">(GK{{ v.rule.gK_Current() }})</span>
							</p>
							<p>
								SOLL: {{ v.target }} {{ v.unit }} <span v-if="v.rule.gK_Current() > 0">(GK{{ v.rule.gK_Target()
								}})</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup>
import moment from "moment";
import {computed} from "vue";

const props = defineProps({
	title: {
		type: String,
		required: true,
	},
	specificationValues: {
		type: Object,
		required: true
	}
});

const newestTime = computed(() => {
	let returnValue = new Date("2000-01-01");
	Object.values(props.specificationValues).forEach(v => {
		v.current;
		returnValue = Math.max(returnValue, v.rule.current.time);
	})
	return moment(new Date(returnValue)).format('DD.MM.YYYY HH:mm');
});
</script>

<style lang="scss" module>
.testClass:hover {
	background-color: red !important;
}
</style>