
/*
// 1. Import the initial variables
@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
//$blue: #72d0eb;
// Add pink and its invert
//$pink: #ffb3b3;
//$pink-invert: #fff;
// Add a serif family
//$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors

$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "../sass/utilities/derived-variables";
$addColors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);
*/
$nsr: #009ee0;
$nsr-invert: findColorInvert($nsr);
$custom-colors: ("nsr": ($nsr, $nsr-invert));

$navbar-height: 5rem;
$navbar-item-img-max-height: 3rem;

$fullhd: 1776px;
// 6. Import the rest of Bulma
@import "~bulma/bulma.sass";


.box-stackable:not(:last-child) {
  @extend .box;
  margin-bottom: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.tile.box-stackable:last-child {
  @extend .box;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-right: 0 !important;
}
.box.has-child-message {
  padding:0;
}
.tile.box:not(:last-of-type) {
  margin-right: 1.25rem !important;
}
.tile.box.with-margin-bottom {
  margin-bottom: 1.5rem !important;
}
.tile.box.no-margin-right {
  margin-right: 0 !important;
}
.stop-light {
  min-width: 15em;
  background-color: whitesmoke;
}
.qc-rules {
  select {
    width: 8em;
  }
  .select select:not([multiple]) {
    padding-right: 1.5em;
  }
  input {
    min-width: 3em;
    padding-left: calc(0.5em - 1px);
    padding-right: calc(0.5em - 1px);
    text-align: center;
  }
  table {
    overflow: scroll;
    td:not([align]) {
      text-align: center;
    }
    th:not([align]) {
      text-align: center;
    }
  }
}

.is-nsr {
  background-color: #00A0E0;
}

.control .input.iconToTheLeft {
  width: calc(100% - 40px);
  padding-left: 0;
}
.control {
  .input.icon-beside {
    width: calc(100% - 40px);
    padding-right: 0;
  }
  .input.icon-beside2 {
    width: calc(100% - 80px);
    padding-right: 0;
  }
  .select.icon-beside {
    width: calc(100% - 40px);
    padding-right: 0;
    select {
      width: 100%;
    }
  }
  .button {
    margin-right: 0;
  }
  .input-as-text input ::placeholder {
    opacity: 0.8 !important;
  }
}
.input-as-text {
  ::placeholder {
    opacity: 0.8 !important;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    opacity: 0.8;
  }
}
.select-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 12em;
}

@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
                (
                        "white": (
                                $white,
                                $black,
                        ),
                        "black": (
                                $black,
                                $white,
                        ),
                        "light": (
                                $light,
                                $light-invert,
                        ),
                        "dark": (
                                $dark,
                                $dark-invert,
                        ),
                        "primary": (
                                $primary,
                                $primary-invert,
                                $primary-light,
                                $primary-dark,
                        ),
                        "link": (
                                $link,
                                $link-invert,
                                $link-light,
                                $link-dark,
                        ),
                        "info": (
                                $info,
                                $info-invert,
                                $info-light,
                                $info-dark,
                        ),
                        "success": (
                                $success,
                                $success-invert,
                                $success-light,
                                $success-dark,
                        ),
                        "warning": (
                                $warning,
                                $warning-invert,
                                $warning-light,
                                $warning-dark,
                        ),
                        "danger": (
                                $danger,
                                $danger-invert,
                                $danger-light,
                                $danger-dark,
                        ),
                ),
                $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma/bulma";
@import '~@oruga-ui/theme-bulma/dist/scss/bulma';