{% use 'form_div_layout.html.twig' %}

{%- block form_widget_simple -%}
	{%- set type = type|default('text') -%}
	{%- if type == 'range' or type == 'color' -%}
		{# Attribute "required" is not supported #}
		{%- set required = false -%}
	{%- endif -%}
	<div class="control {%- if icon is defined %} has-icons-left{%- endif -%}">
		<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
		{%- if icon is defined -%}
		<span class="icon is-small is-left"><i class="fas {{ icon }}"></i></span>
		{%- endif -%}
	</div>
{%- endblock form_widget_simple -%}

{%- block form_widget_compound -%}
	<div {{ block('widget_container_attributes') }}>
		{%- if form is rootform -%}
			{{ form_errors(form) }}
		{%- endif -%}
		{{- block('form_rows') -}}
		{{- form_rest(form) -}}
	</div>
{%- endblock form_widget_compound -%}

{%- block button_widget -%}
	{%- if label is empty -%}
		{%- if label_format is not empty -%}
			{% set label = label_format|replace({
				'%name%': name,
				'%id%': id,
			}) %}
		{%- elseif label is not same as(false) -%}
			{% set label = name|humanize %}
		{%- endif -%}
	{%- endif -%}

	<div class="control {%- if wrapper_class is not empty %} {{ wrapper_class }}{%- endif -%}">
		<button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
			{%- if translation_domain is same as(false) -%}
				{%- if label_html is same as(false) -%}
					{{- label -}}
				{%- else -%}
					{{- label|raw -}}
				{%- endif -%}
			{%- else -%}
				{%- if label_html is same as(false) -%}
					{{- label|trans(label_translation_parameters, translation_domain) -}}
				{%- else -%}
					{{- label|trans(label_translation_parameters, translation_domain)|raw -}}
				{%- endif -%}
			{%- endif -%}
		</button>
	</div>
{%- endblock button_widget -%}
