<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Nerling Cloud</title>
	{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}">
	<link rel="icon" type="image/png" href="{{ asset('build/images/favicon-32.png') }}" sizes="32x32">
</head>


<body {% if hideMenu is not defined or hideMenu is same as(false) %}class="has-navbar-fixed-top"{% endif %}>
{% if hideMenu is not defined or hideMenu is same as(false) %}
{% block menu %}{% endblock %}

{% for message in app.flashes('failure') %}
	<div class="notification is-danger has-text-centered">
		{{ message }}
	</div>
{% endfor %}

{% for message in app.flashes('warning') %}
	<div class="notification is-warning has-text-centered">
		{{ message }}
	</div>
{% endfor %}

{% for message in app.flashes('success') %}
	<div class="notification is-success has-text-centered">
		{{ message }}
	</div>
{% endfor %}

{% for message in app.flashes('info') %}
	<div class="notification is-info has-text-centered">
		{{ message }}
	</div>
{% endfor %}
{% endif %}
{% block body %}{% endblock %}

{% if hideMenu is not defined or hideMenu is same as(false) %}
<footer class="footer">
	<div class="columns">
		<div class="column is-0-mobile"></div>
		<div class="column is-2">
			<p>
				Nerling Systemräume GmbH<br/>
				Benzstraße 54<br/>
				D-71272 Renningen<br/>
				<br/>
				Tel.: +49 (0) 7159 1634-0<br/>
				E-Mail: info@nerling.de
			</p>
		</div>
		<div class="column is-2">
			<p>
				Geschäftsführer:<br/>
				Dipl.-Ing. (FH) Olaf Nerling<br/>
				<br/>
				Registergericht:<br/>
				Amtsgericht Stuttgart<br/>
				HRB 250779
			</p>
		</div>
		<div class="column is-2">
			<p>
				USt-ID-Nr.:<br/>
				DE146033362
			</p>
		</div>
		<div class="column is-0-mobile"></div>
	</div>
</footer>
{% endif %}
</body>
</html>
