{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
	<div class="hero {%  block content_hero_class %}{% endblock %} is-small">
		<div class="hero-body is-centered">
			<h1 class="title" style="text-align: center">
			  {%  block content_title %}{% endblock %}
			</h1>
		</div>
	</div>
	<section class="section">
		{% block content_body %}{% endblock %}
	</section>
{% endblock %}