{% extends 'base.html.twig' %}

{% block title %}Hello ProjectsMainController!{% endblock %}

{% block menu %} {{ include('main/_menu.html.twig') }} {% endblock %}

{% block body %}
	<div id="projects"></div>
	<!--
	<div class="tile is-ancestor">
		<div class="tile is-2-tablet">

		</div>
		<div class="tile is12-mobile is-8-tablet">

		</div>
	</div>
	-->
{% endblock %}

{% block javascripts %}
	{{  parent() }}

	<script>
	{% if project is defined %}
		window.project = '{{ project|e('js') }}';
	{% else %}
	{% endif %}
	</script>
	{{ encore_entry_script_tags('projects') }}
{%  endblock %}