<template>
	<tr class="qc-rules-component">
		<td>
			<button class="button is-small is-primary" @click="editButton">
				<span class="icon is-small"><font-awesome-icon :icon="['far','pen-to-square']" size="2x" /></span><span>Edit</span>
			</button>
		</td>
		<td>{{ qcRule.project }}</td>
		<td>{{ qcRule.type }}</td>
		<td>{{ qcRule.sensor1 }}</td>
		<td>{{ qcRule.sensor2 }}</td>
		<td>{{ qcRule.value1 }}</td>
		<td>{{ qcRule.value2 }}</td>
		<td>{{ qcRule.distance }}</td>
		<td>{{ qcRule.unit }}</td>
		<td><span class="icon is-small"><font-awesome-icon v-if="qcRule.active" :icon="['fas','check']" size="2x" /><font-awesome-icon v-if="!qcRule.active" :icon="['fas','xmark']" size="2x" /></span></td>
		<td>
			<button class="button is-small is-ghost is-invisible">
				<span class="icon is-small"><font-awesome-icon :icon="['far','trash-can']" size="2x" /></span>
			</button>
		</td>
	</tr>
	<tr
		v-if="showEdit"
		:class="['qc-rules-component']"
	>
		<td>
			<button class="button is-small is-primary" @click="update">
				<span class="icon is-small"><font-awesome-icon :icon="['far','floppy-disk']" size="2x" /></span>
			</button>
		</td>
		<td>{{ localCopy.project }}</td>
		<td>
			<div class="select">
				<select v-model="localCopy.type">
					<option
						v-for="(io, index) in possibleTypes"
						:key="index"
						:selected="io === localCopy.type"
					>
						{{ io }}
					</option>
				</select>
			</div>
		</td>
		<td>
			<div class="select select-overflow">
				<select v-model="localCopy.sensor1">
					<option
						v-for="(io, index) in possibleValues"
						:key="index"
						:selected="io === localCopy.sensor1"
					>
						{{ io }}
					</option>
				</select>
			</div>
		</td>
		<td>
			<div class="select select-overflow">
				<select v-model="localCopy.sensor2">
					<option
						v-for="(io, index) in possibleValues"
						:key="index"
						:selected="io === localCopy.sensor2"
					>
						{{ io }}
					</option>
				</select>
			</div>
		</td>
		<td><input v-model="localCopy.value1" class="input" type="text"></td>
		<td><input v-model="localCopy.value2" class="input" type="text"></td>
		<td><input v-model="localCopy.distance" class="input" type="text"></td>
		<td><input v-model="localCopy.unit" class="input" type="text"></td>
		<td><label class="checkbox"><input v-model="localCopy.active" type="checkbox"></label></td>
		<td>
			<button class="button is-small is-danger is-light">
				<span class="icon is-small"><font-awesome-icon :icon="['far','trash-can']" size="2x" /></span>
			</button>
		</td>
	</tr>
</template>

<script setup>
import { ref, computed, inject } from 'vue'

const props = defineProps({
	qcRule: {
		type: Object,
		required: true
	},
	possibleValues: {
		type: Array,
		required: true
	},
	possibleTypes: {
		type: Array,
		required: true
	}
})
const emit = defineEmits([
	'update:qc-rule'
])

//const str_limit = inject('$str_limit')

const showEdit = ref(false)
const localCopy = ref({})

const api = inject('$api')
const apiEndpoint = computed( () => api.endpoint+'/qc/rules/' + props.qcRule.id)

const update = () => {
	const apiOptions = {
		method: 'PUT',
		headers: api.headers_loggedIn,
		body: JSON.stringify(localCopy.value)
	}

	fetch(apiEndpoint.value, apiOptions)
			.then(response => {
				if(!response.ok) {
					const error = (response && response.message) || response.status;
					return Promise.reject(error)
				} else {
					showEdit.value = false;
					return response.json()
				}

			})
			.catch(error => {
				// eslint-disable-next-line no-console
				console.error('There was an error!', error);
			});

	emit("update:qc-rule", localCopy.value)
}
const editButton = () => {
	showEdit.value = !showEdit.value;
	if(!localCopy.value['project']) {//checks for some truthy value (not null, undefined, empty, 0, false...)
		localCopy.value = JSON.parse(JSON.stringify(props.qcRule));
		localCopy.value['type'] = props.qcRule['type'];
	}
}
</script>

<style scoped>

</style>