<template>
	<div class="message-header">
		{{ file.fileType }} - {{ file.dateAdded }}
	</div>
	<div class="message-body">
		<img src="{{ file.fileName }}" alt="{{ file.fileName }}" width="200px">
	</div>
</template>

<script setup>

import {ProjectFile} from "../../../PropTypes/CustomTypes";

const props = defineProps({
	file : { type: ProjectFile, required: true }
});



</script>

<style scoped>

</style>