<template>
	<div class="tile is-child box">
		<div class="table-container">
			<table class="table is-striped is-fullwidth">
				<thead>
					<tr>
						<th />
						<th>Project</th>
						<th>Überwachungstyp</th>
						<th>Sensor 1</th>
						<th>Sensor 2</th>
						<th>Value 1</th>
						<th>Value 2</th>
						<th>Abstand</th>
						<th>Einheit</th>
						<th>Aktiv?</th>
						<th />
					</tr>
				</thead>
				<tbody>
					<template
						v-for="(rule, index) in qcRules"
						:key="index"
					>
						<qc-rules-component
							:qc-rule="rule"
							:possible-values="possibleValues"
							:possible-types="possibleTypes"
							@update:qc-rule="(v) => updateRuleData(v)"
						/>
					</template>
					<tr
						:class="['qc-rules-component']"
					>
						<td />
						<td>{{ projectName }}</td>
						<td>
							<div class="select">
								<select v-model="newDataToAdd.type">
									<option
										v-for="(io, index) in possibleTypes"
										:key="index"
										:selected="io === newDataToAdd.type"
									>
										{{ io }}
									</option>
								</select>
							</div>
						</td>
						<td>
							<div class="select select-overflow">
								<select v-model="newDataToAdd.sensor1">
									<option
										v-for="(io, index) in possibleValues"
										:key="index"
										:selected="io === newDataToAdd.sensor1"
									>
										{{ io }}
									</option>
								</select>
							</div>
						</td>
						<td>
							<div class="select select-overflow">
								<select v-model="newDataToAdd.sensor2">
									<option
										v-for="(io, index) in possibleValues"
										:key="index"
										:selected="io === newDataToAdd.sensor2"
									>
										{{ io }}
									</option>
								</select>
							</div>
						</td>
						<td><input v-model="newDataToAdd.value1" class="input" type="text"></td>
						<td><input v-model="newDataToAdd.value2" class="input" type="text"></td>
						<td><input v-model="newDataToAdd.distance" class="input" type="text"></td>
						<td><input v-model="newDataToAdd.unit" class="input" type="text"></td>
						<td><label class="checkbox"><input v-model="newDataToAdd.active" type="checkbox"></label></td>
						<td>
							<button class="button is-small is-primary" @click="addRule">
								<span class="icon is-small"><font-awesome-icon :icon="['fa','plus']" size="2x" /></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script setup>
import QcRulesComponent from "./_settings_project_qc_rules_component";
import {QualityControlRule} from "../../../PropTypes/QualityControlTypes";
import SettingsProjectFiles from "./_settings_project_files";
import {inject, onMounted, ref, computed, watch, reactive} from 'vue'

const props = defineProps({
	projectName: {
		type: String,
		required: true
	}
})

const possibleValues = ref([]);
const possibleTypes = ref([]);
const qcRules = ref({});
const newDataToAdd = reactive({
	project: props.projectName,
	type: '',
	sensor1: '',
	sensor2: '',
	value1: 0.0,
	value2: 0.0,
	distance: 0.0,
	unit: '',
	active: false
});

const api = inject('$api')

const api_rules = computed(() => api.endpoint+'/qc/rules/project/'+props.projectName);
const api_sensors = computed(() => api.endpoint+'/projects/'+props.projectName+'/possibleHeaders');
const api_types = computed(() => api.endpoint+'/qc/possibleTypes');
const api_addRules = computed(() => api.endpoint+'/qc/rules');

watch(props, async () => {
	loadRules()
	loadPossibleSensors()
	loadPossibleTypes()
})

onMounted(() => {
	loadRules(props.projectName)
	loadPossibleSensors(props.projectName)
	loadPossibleTypes()
})


const loadRules = () => {
	api.fetch(api_rules.value)
			.then(data => {
				let newData = {}
				data.forEach(element => {
					let rule = QualityControlRule.getFromElement(element);
					newData[rule.id] = rule;
				});
				qcRules.value = newData;
			});
}
const updateRuleData = () => {
	loadRules();
}
const loadPossibleSensors = () => {
	api.fetch(api_sensors.value)
			.then(data => {
				possibleValues.value = [''];
				data.forEach(element => {
					possibleValues.value.push(element);
				});
			});
	possibleValues.value.sort();
}
const addRule = () => {
	const apiOptions = {
		method: 'POST',
		headers: api.headers_loggedIn,
		body: JSON.stringify({ ...newDataToAdd})
	}

	fetch(api_addRules.value, apiOptions)
			.then(response => {
				if(!response.ok) {
					const error = (response && response.message) || response.status;
					return Promise.reject(error)
				} else {
					updateRuleData()
					return response.json()
				}

			})
			.catch(error => {
				// eslint-disable-next-line no-console
				console.error('There was an error!', error);
			});
}
const loadPossibleTypes = () => {
	api.fetch(api_types.value)
			.then(data => {
				possibleTypes.value = [''];
				data.forEach(element => {
					possibleTypes.value.push(element);
				});
			});
}


</script>

<style scoped>

</style>