<template>
	<div class="tile box has-child-message">
		<div class="message">
			<div class="message-header">
				<p>Registered Files</p>
				<!--<button class="delete" aria-label="delete"></button>-->
			</div>
			<div class="message-body">
				<div
					v-for="f in files"
					:key="f.fileType"
				>
					<settings-project-files-component file="{{ f }}" />
				</div>
				<div></div>
			</div>
		</div>
	</div>
</template>

<script setup>
import SettingsProjectFilesComponent from "./_settings_project_files_component";
import {computed, inject, onMounted, ref, watch} from "vue";
import {ProjectFile} from "../../../PropTypes/CustomTypes";

const props = defineProps({
	projectName: {
		type: String,
		required: true
	}
});

watch(props, async () => {
	loadProjectFiles()
});

onMounted(() => {
	loadProjectFiles()
});

const files = ref([]);

const api = inject("$api");
const apiFiles = computed(() => api.endpoint+'/projects/'+props.projectName+'/files-to-project');

const loadProjectFiles = () => {
	api.fetch(apiFiles.value)
			.then(data => {
				let newFiles = [];
				data.forEach(element => {
					newFiles.push(ProjectFile.get(element));
				});
				files.value = newFiles;
			});
};

</script>

<style scoped>

</style>